html {
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 10px;
    background-color: hsl(210, 46%, 95%);
}

p, h2 {
    margin: 0;
}

h2 {
    font-size: 1.3rem;
    margin: 10px 0px 10px 0px;
}

.fit-img {
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    margin: auto;
}

.card {
    padding: 25px;
    padding-top: 15px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    line-height: 20px;
    max-width: 440px;
}

#image {
    width: 35px;
    height: 100%;
    margin-right: 14px;
    border-radius: 50%;
    overflow: hidden;
}

.one {
    position: relative;
}

#author-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
}

.one #title {
    position: relative;
    z-index: 2;
}

.one #author-container {
    position: relative;
    z-index: 2;
}

#quotation-svg {
    position: absolute;
    top: 0;
    right: 7%;
    z-index: 1;
}

#name {
    font-size: 1.05rem;
    height: 15px;
}

#ver {
    font-size: 0.9rem;
    opacity: 0.5;
}

#text {
    opacity: 0.7;
}

.one, .two, .four {
    color: white;
}

.one #text, .two #text, .four #text {
    color: hsl(0, 0%, 81%);
}

.one #image {
    box-shadow: 0px 0px 0px 2.5px #A775F1;
}

.four #image {
    box-shadow: 0px 0px 0px 2.5px rgba(117, 65, 200, 0.95);
}

.one {
    background-color: rgba(117, 65, 200, 0.95);
}

.two {
    background-color: rgba(72, 85, 106, 0.9);
}

.three, .five {
    background-color: hsl(0, 0%, 100%);
}

.four {
    background-color: rgba(25, 33, 46, 0.95);
}

@media (min-width: 1215px) {
    
    body {
        margin: 0px;
    }

    #container {
        flex-direction: row;
        width: 1215px;
        margin: auto;
        max-width: none;
    }

    #organize {
        display: flex;
        flex-wrap: wrap;
        width: 910px;
        height: 600px;
    }

    h2 {
        margin: 18px 0px 18px 0px;
        font-size: 1.6rem;
        line-height: 22px;
    }

    .card {
        font-size: 1.1rem;
        margin: 15px;
        max-width: none;
    }

    #name {
        font-size: 1.1rem;
    }
    
    #ver {
        font-size: 1rem;
    }

    .one, .four {
        width: 600px;
    }
    
    .two, .three {
        width: 250px;
    }
    
    .one, .two {
        height: 280px;
    }
    
    .three, .four {
        height: 260px;
    }

    .five {
        width: 275px;
        height: 570px;
    }

    #quotation-svg {
        right: 15%;
    }

}